@import url(https://fonts.googleapis.com/css?family=Oswald:700,300);

body{
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
  	font-weight: 700;
}
.button_group{
  width: 100%;
  display: flex;
}
button {
	font-family: 'Oswald', sans-serif;	
	font-size: 1em;	
 	font-weight: 300;
	border: 0;
	padding: 1em 2em;
 	margin: 0.5em 0;
	width: 100%;
 	background: rgba(0,0,0,0.1);  
 	-webkit-transition:.2s;  
}
button:nth-child(2){
  margin: 0.5em;
}
button:hover{
  background: rgba(0,0,0,0.3);
}
button:active{
  background: rgba(0,0,0,0.5);
}
#add:active{
  -webkit-transform:translateY(-1em);    
}
#subtract:active{
  -webkit-transform:translateY(1em);    
}
#counter{
	font-size: 3em;
	text-align: center;
 	 width: 100%;
 	 display block;
 	 background: rgba(0,0,0,0.1);
  	padding: 2em 0;
}

